<div class="modal fade" id="confirmationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ 'delete_figure_modal.title'|trans }}</h4>
                <p>{{ 'delete_figure_modal.body'|trans }}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnNo" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-ban" aria-hidden="true"></i> {{ 'label.cancel'|trans }}
            </button>
            <button type="button" id="btnYes" class="btn btn-danger" data-dismiss="modal">
                <i class="fa fa-trash" aria-hidden="true"></i> {{ 'label.delete_figure'|trans }}
            </button>
        </div>
    </div>

</div>